
body {
  font-family: '1';
  font-size: 2rem;
  background: url(asset/fond.jpg) center/cover;

}
a{
  text-decoration: none; color: #ffffff;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;

  font-size: 2.5rem;
  text-shadow: 3px 3px 8px #8547f0;
  color: #ffffff;
  font-family: '1';
}

main {
  min-height: 500px;
  width: 90%;
  background: rgba(255, 255, 255, 0.349);

  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 0px 20px 4px #6adacd;
  padding: 15px;
}

h2 {
  margin: 0;
}

.info {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  min-height: 150px;
}


.info ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.info li {
  list-style: none;
  height: 160px;
  width: 160px;
  margin: 10px;
  background: rgb(0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}


.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.grid img {
  width: 80%;
  margin: 20px auto;
  display: block;
}

.autre {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  min-height: 150px;
}
.autre ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.autre li {
  list-style: none;
  height: 160px;
  width: 160px;
  margin: 10px;
  background: rgb(0, 0, 0);

  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "1";
  src: url(asset/DancingScript-VariableFont_wght.ttf);
}